<%- include("header") -%>
<body>
    <div class="container">
        <h1>What's the Weather?</h1>
    <form class="form-group" action="/" method="post">

        <label for="cityInput">Enter the name of a city</label>
        <input id="cityInput" class="form-control" type="text" name="cityName" placeholder="Eg.London/Tokyo" >
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
<%- include("footer") -%>